.uber-button{
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  width: 115px;
  font-family: Arial;
  cursor: pointer;
}

.amazon-button{
  background-color: rgb(255, 216, 20);
  color: rgb(41, 41, 41);
  border: none;
  height: 40px;
  width: 170px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}

.github-button{
  background-color: rgb(46, 164, 79);
  color: rgb(255, 255, 255);
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}

.bootstrap1_button{
  background-color: rgb(121, 82, 179);
  color: rgb(255, 255, 255);
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}

.bootstrap2_button{
  background-color: rgb(255, 255, 255);
  color: rgb(108, 117, 125);
  border-color:  rgb(108, 117, 125);
  border-style: solid;
  border-width: 1px;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}

.linkedin1_button{
  background-color: rgb(10, 102, 194);
  color: white;
  border-style: none;
  border-width: none;
  height: 40px;
  width: 215px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}

.linkedin2_button{
  background-color: white;
  color: rgb(10, 102, 194);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(10, 102, 194);
  height: 40px;
  width: 80px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  cursor: pointer;
}

  .price-tag{
    color: rgb(0, 118, 0);
  }

.addtocart-button{
  background-color: rgb(255, 216, 20);
  color: black;
  border-style: none;
  border-width: none;
  border-color: none;
  height: 28px;
  width: 105px;
  border-radius: 20px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-right: 10px;

}

.buynow-button{
  background-color: rgb(255, 164, 28);
  color: black;
  border-style: none;
  border-width: none;
  border-color: none;
  height: 28px;
  width: 105px;
  border-radius: 20px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;

}

.addtocart-button:hover{
background-color:rgb(255, 192, 20);
}

.addtocart-button:active{
opacity: .5;
}

.buynow-button:hover{
background-color: rgb(230, 115, 7);
}

.buynow-button:active{
opacity: 0.5;
}

.links:hover{
color: coral;
}

.page-buttons{
background-color: rgb(223, 223, 223);
border-color: black;
color: black;
border-width: 1px;
border-radius: 2px;
padding: 7 6 7 6;
margin: 0 4 0 4;
cursor: pointer;
}

.page-numbers{
padding: 0 2 0 2;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
}

.page-numbers:visited{
color: bisque;

}


.page-numbers:hover{
color:coral;
}

.strech-button{
background-color: green;
color: white;
border: none;
padding: 5 8 5 8;
cursor: pointer;
transition: 1s;

}

.strech-button:hover{
padding: 15 25 15 25;
}

.shadow-button{
background-color: green;
color: white;
border-style: none;
cursor: pointer;
padding: 5 10 5 10;
box-shadow: 3px 2px 3px rgba(0, 0, 0, .4);
}

.shadow-button:active{
margin: 3 0 0 3;
box-shadow: none;
}

.margin-padding-button{
background-color: green;
color: white;
border-style: none;
padding: 3 9 3 9;
margin: 0 5 0 5;
cursor: pointer;
transition: 0.2s;
}

.margin-padding-button:hover{
padding: 3 14 3 14;
margin: 0 0 0 0;
}
