

.sub_button {
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;
  transition: opacity .15s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
}

.sub_button:hover{
  opacity: 0.8;

}

.sub_button:active{
  opacity: 0.4;
}

.join_button{
  background-color: rgb(255, 255, 255);
  color: rgb(36, 138, 255);
  border-style: solid;
  border-color: rgb(25, 141, 236);
  border-width: 1px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity .15s, color .15s;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
}

.join_button:hover{
  background-color: rgb(36, 138, 255);
  color:rgb(255, 255, 255);
}

.join_button:active{
  background-color: rgb(36, 138, 255);
  color:rgb(255, 255, 255);
  opacity: 0.8;
}

.tweet_button{
  background-color: rgb(44, 139, 248);
  color: white;
  border: none;
  height: 36px;
  width: 74px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  vertical-align: top;
      padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;

}

.tweet_button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.tweet_button:active{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  opacity: .8;
}